{% load static %}
<ul class="header__nav">
    <li><a href="{% url 'blog:index' %}" title="">Trang Chủ</a></li>
    <li class="has-children">
        <a href="#0" title="">Thể Loại</a>
        <ul class="sub-menu">
            <li><a href="#0">Thị Giác Máy Tính</a></li>
            <li><a href="#0">Xử Lý Ngôn Ngữ Tự Nhiên</a></li>
            <li><a href="#0">Transformers</a></li>
            <li><a href="#0">CNN</a></li>
        </ul>
    </li>
    <!-- <li class="has-children">
        <a href="#0" title="">Blog Posts</a>
        <ul class="sub-menu">
        <li><a href="{% url 'blog:index' %}">Video Post</a></li>
        <li><a href="{% url 'blog:index' %}">Audio Post</a></li>
        <li><a href="{% url 'blog:index' %}">Gallery Post</a></li>
        <li><a href="{% url 'blog:index' %}">Standard Post</a></li>
        </ul>
    </li> -->
    <li><a href="{% url 'blog:about' %}" title="">Về Chúng Tớ</a></li>
    <li><a href="page-contact.html" title="">Liên Lạc</a></li>
    <li><a href="styles.html" title="">Buy Us Some Fishes</a></li>
</ul> <!-- end header__nav -->