{% extends "layouts/layout.html" %}

{% block content %}
    {% load static %}
    <div class="s-content">
        <main class="row content__page">
            
            <section class="column large-full entry format-standard">
                <div class="media-wrap">
                    <div>
                        <img src="{% static 'images/thumbs/about/about-1000.jpg' %}"  alt="">
                    </div>
                </div>

                <div class="content__page-header">
                    <h1 class="display-1">
                        Chào Mừng Đến Với Nhà Mèo
                    </h1>
                </div>
                <p class ='test_class'>ahihi</p>
                <p>
                    Chúng tớ là Nhà Mèo, chúng tớ lười nên chúng tớ để máy tính tự làm mọi thứ.
                </p>

                <div class="row block-large-1-2 block-tab-full">
                    <div class="column">
                        <h4>Meow Gặm Sách</h4>
                        <p>Chèn một cái hình nhỏ nhỏ vô đây</p>
                        <p style="font-style: italic;">"Vì đọc sách quá buồn ngủ nên tớ quyết định gặm luôn cuốn sách"</p>
                        <p>Thông tin cơ bản, tiểu sử bla bla bla</p>
                    </div>

                    <div class="column">
                        <h4>Meow Hồ</h4>
                        <p>Lorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute anim mollit fugiat qui sit ex occaecat et eu mollit nisi pariatur fugiat deserunt dolor veniam reprehenderit aliquip magna nisi consequat aliqua veniam in aute ullamco Duis laborum ad non pariatur sit.</p>
                    </div>

                    <div class="column">
                        <h4>Meow Tung</h4>
                        <p>Lorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute anim mollit fugiat qui sit ex occaecat et eu mollit nisi pariatur fugiat deserunt dolor veniam reprehenderit aliquip magna nisi consequat aliqua veniam in aute ullamco Duis laborum ad non pariatur sit.</p>
                    </div>

                    <div class="column">
                        <h4>Meow Duyên</h4>
                        <p>Lorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute anim mollit fugiat qui sit ex occaecat et eu mollit nisi pariatur fugiat deserunt dolor veniam reprehenderit aliquip magna nisi consequat aliqua veniam in aute ullamco Duis laborum ad non pariatur sit.</p>
                    </div>

                </div>               

            </section>


        </main>
    </div>
{% endblock %}